<link rel="stylesheet" href="public/css/hover-effect.css" />
<div class="container mt-40">
	<div class="row mt-30" id="templateDiv">
    <!-- <div class="col-md-6 col-sm-12">
      <div class="devhuteffect delayLoad"> -->
        <!-- <iframe
        scrolling="no"
        frameborder="0"
        class="shadow"
        id="webvisuals"
        src="https://chadsconway.github.io/Coursework-MSSE655-WebVisualizations"
      ></iframe>
        <ul class="icon">
          <li>
            <a href="https://chadsconway.github.io/Coursework-MSSE655-WebVisualizations"
              ><i class="fas fa-chart-bar">Webpage</i></a
            >
          </li>
          <li>
            <a href="https://github.com/chadsconway/Coursework-MSSE655-WebVisualizations"><i class="fa fa-link">Repository</i></a>
          </li>
        </ul>
        <div class="box-content">
          <h3 class="title">Web Visualizations Frameworks</h3>
          <h5 class="post">Examples of dashboard visualizations implemented with different jQuery charting plugins.</h5>
        </div> -->
      <!-- </div>
    </div> -->
		</div>
	</div>
</div>
