<!-- views/partials/head.ejs -->
<title>Personal Dashboard</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<!-- bootstrapjs -->
<% include ../partials/bootstrapjs %>
<!-- bootstrapcss -->
<% include ../partials/bootstrapcss %>
<!-- gridstack cdns -->
<%include ../partials/gridstackcdn %>
<!-- dashboard scripts and links -->
<%include ../partials/dashboardlinks %>
<style>
	body {
		padding-top: 50px;
	}
</style>
