<!-- views/partials/head.ejs -->
<title>Personal Dashboard</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link rel="stylesheet" href="public/css/dashboard.css" />
<link rel="stylesheet" href="public/css/hover-effect.css" />
