<!-- views/partials/header.ejs -->
<div class="loaderdiv">Loading</div>
<div class="jumbotron" id="topbanner"></div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary position-sticky">
	<a class="navbar-brand nav-link" href="http://www.chadsconway.info"
		>CSConway</a
	>
	<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarColor01"
		aria-controls="navbarColor01"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="bg-primary text-light nav-item">
				<a class="nav-link" href="/"
					>Home <span class="sr-only">(current)</span></a
				>
			</li>
			<li class="bg-primary text-light nav-item">
				<a class="nav-link" href="/themes">Themes</a>
			</li>
			<li class="bg-primary text-light nav-item">
				<a class="nav-link" href="/github">GitHub Repos</a>
			</li>

			<li class="bg-primary text-light nav-item">
				<a class="nav-link" href="/todo">ToDo</a>
			</li>

			<li class="bg-primary text-light nav-item">
				<a class="nav-link" href="/grid">Grid</a>
			</li>

			<li class="bg-primary text-light nav-item">
				<a class="nav-link" href="/tables">Tables</a>
			</li>
			<li class="bg-primary text-light nav-item">
				<a class="nav-link" href="/drinks">Drinks</a>
			</li>
			<li class="bg-primary text-light nav-item">
				<a class="nav-link" href="/about">About</a>
			</li>
		</ul>
		<text id="nav-theme"
			>Current Theme: <span id="curr-theme-navbar">Base</span></text
		>
	</div>
</nav>
<style>
	.navbar-brand {
		font-size: 2em;
		font-weight: bold;
		color: white;
	}
	#nav-theme {
		font-size: 1.5em;
		color: white;
	}
	nav {
		background-color: primary;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
	}
	a {
		font-size: 1.5em;
	}
	.nav-link {
		text-decoration: none;
	}
</style>
