<div class="container">
	<div class="row" id="row1">
		<h2 class="col-sm-12 col-md-12 col-lg-6 text-center">
			Available Themes:
		</h2>
		<h2 class="col-sm-12 col-md-12 col-lg-4">Sample Button Colors:</h2>
	</div>
	<div class="row" id="row1">
		<div class="col-sm-12 col-md-4 col-lg-2" id="first-col"></div>
		<div class="col-sm-12 col-md-4 col-lg-2" id="second-col"></div>
		<div class="col-sm-12 col-md-4 col-lg-2" id="third-col"></div>
		<div class="col-sm-6 col-md-3 col-lg-2" id="sample-filled-buttons">
			<button type="button" class="btn flex-item btn-primary">
				Primary
			</button>
			<button type="button" class="btn flex-item btn-secondary">
				Secondary
			</button>
			<button type="button" class="btn flex-item btn-success">
				Success
			</button>
			<button type="button" class="btn flex-item btn-info">Info</button>
			<button type="button" class="btn flex-item btn-warning">
				Warning
			</button>
			<button type="button" class="btn flex-item btn-danger">
				Danger
			</button>
			<button type="button" class="btn flex-item btn-link">Link</button>
		</div>

		<div class="col-sm-6 col-md-3 col-lg-2" id="sample-outline-buttons">
			<button type="button" class="btn flex-item btn-outline-primary">
				Primary
			</button>
			<button type="button" class="btn flex-item btn-outline-secondary">
				Secondary
			</button>
			<button type="button" class="btn flex-item btn-outline-success">
				Success
			</button>
			<button type="button" class="btn flex-item btn-outline-info">
				Info
			</button>
			<button type="button" class="btn flex-item btn-outline-warning">
				Warning
			</button>
			<button type="button" class="btn flex-item btn-outline-danger">
				Danger
			</button>
			<button type="link" class="btn flex-item btn-outline btn-link">
				Link
			</button>
		</div>
	</div>
</div>
<div class="spacer"></div>
