<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/header %>

		<main>
			<div class="row">
				<div class="col-sm-8">
					<div class="jumbotron">
						<h1>About</h1>
						<h3>
							Linked In Profile:
							<a href="https://www.linkedin.com/in/chadsconway">Here</a>
						</h3>
						<h3>
							GitHub Account:
							<a href="https://www.github.com/chadsconway">Here</a>
						</h3>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="well">
						<h3>Look I'm A Sidebar!</h3>
					</div>
				</div>
			</div>
		</main>

		<footer>
			<% include ../partials/footer %>
		</footer>
		<!-- Load Bootstrapjs - Once when index loads -->
		<% include ../partials/bootstrapjs %>
		<!-- Load Public Files - Once when index loads -->
		<% include ../partials/dashboardlinks.ejs %>
		<!-- Window.onload event -->
		<% include ../partials/onloaded.ejs %>
	</body>
</html>
