<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/header %>
		<main>
			<div class="jumbotron">
				<h1>Grid Editor</h1>
			</div>
			<div id="editor1">
				<% include ../partials/editor1 %>
			</div>
			<div id="grid1">
				<% include ../partials/gridstack1 %>
			</div>
		</main>
		<footer>
			<% include ../partials/footer %>
		</footer>
		<!-- Load Bootstrapjs - Once when index loads -->
		<% include ../partials/bootstrapjs %>
		<!-- Load Public Files - Once when index loads -->
		<% include ../partials/dashboardlinks.ejs %>
		<!-- Window.onload event -->
		<% include ../partials/onloaded.ejs %>
	</body>
</html>
