<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %> <% include ../partials/bootstrapcss %>
	</head>
	<body>
		<% include ../partials/header %>
		<main>
			<div class="jumbotron">
				<h1>Personal Dashboard</h1>
				<p>Welcom to Chad Conway's Personal Dash...</p>
			</div>
		</main>
		<footer>
			<% include ../partials/footer %>
		</footer>
		<% include ../partials/bootstrapjs %>
	</body>
</html>
