<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body onload="getTheme()">
		<% include ../partials/header %>
		<main>
			<div class="jumbotron bg-dark text-light">
				<h1>A Drag-n-Drop Grid</h1>
				<h2>Implemented with jQuery plugin Gridstacker</h2>
			</div>

			<div id="grid1">
				<% include ../partials/gridstack1 %>
			</div>
		</main>
		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>
