<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/header %>
		<main>
			<div class="jumbotron">
				<h1>Grid</h1>
			</div>

			<div id="grid1">
				<% include ../partials/gridstack1 %>
			</div>
		</main>
		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>
