<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body onload="getTheme()">
		<% include ../partials/header %>
		<main>
			<div class="jumbotron bg-dark text-light">
				<h1>Table Row Samples</h1>
				<h2>
					Demonstrates how the different bootstrap colors are implemented as
					table rows
				</h2>
			</div>
			<% include ../partials/tables %>
		</main>
		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>
