<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/header %>
		<main>
			<div class="jumbotron bg-dark text-light">
				<h1>Table Row Samples</h1>
				<h2>
					Demonstrates how the different bootstrap colors are implemented as
					table rows
				</h2>
			</div>
			<% include ../partials/tables %>
		</main>
		<footer>
			<% include ../partials/footer %>
		</footer>
		<!-- Load Bootstrapjs - Once when index loads -->
		<% include ../partials/bootstrapjs %>
		<!-- Load Public Files - Once when index loads -->
		<% include ../partials/dashboardlinks.ejs %>
		<!-- Window.onload event -->
		<% include ../partials/onloaded.ejs %>
	</body>
</html>
