<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body onload="loadToDos()">
		<% include ../partials/header %>
		<main>
			<div class="jumbotron">
				<h1>Todo Lists</h1>
			</div>
			<% include ../partials/todotable %>
		</main>
		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>
